<div class="container">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536584754829-12214d404f32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="container">
      <h1>Techbnb: <strong>los objetos tecnológicos</strong> que necesitas <strong>en tu viaje</strong>!</h1>
      <p>¿Te olvidaste el cargador? ¡Alquila uno!</p>
    </div>
  </div>
  <div class="cards">
  <% Product.all.each do |product| %>
      <div class="card-trip">
        <%= cl_image_tag product.photo.key, height: 300, width: 300, crop: :fill %>
        <div class="card-trip-infos">
          <h2><%= link_to product.name, product_path(product) %></li></h5>
          <p><%= product.description %></li></p>
          <h2>S/. <%= product.price %></li></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
