<h1>Product: <%= @product.name %></h1>

<p>Description: <%= @product.description %></p>
<p>Adress: <%= @product.address %></p>
<p>City: <%= @product.city %></p>
<p>Price: <%= @product.price %></p>


<%= link_to 'Edit this product', edit_product_path(@product) %> |
<%= link_to 'Back to list of products', products_path %> |
<%= link_to 'Rent this product', new_product_booking_request_path(@product) %>
